{% extends "base.html" %}
{% load static %}
{%block stylecontent%}
<link rel="stylesheet" href="{% static 'css/stylesnew.css' %}">
<!-- Datatables -->
<link href="{% static 'css/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{%endblock%}
{% block content %}
<!-- page content -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel pagenew-div">
            <div class="x_title">
                <h3>Gestión realizada por: {%if user.is_authenticated%} {{user.trabajador.name}} ({{user.trabajador.codigo_siprec}}) {%endif%}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="tablalist" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Llamar</th>
                            <th>No Orden</th>
                            <th>Servicio</th>
                            <th>Acción</th>
                            <th>Cliente</th>
                            <th>Dirección</th>
                            <th>Estado</th>
                            <th>Contacto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for model in model1%}
                        <tr>
                            <td>
                                <form action="{% url 'gestion_telefono_llamar' model.id %}" method="get">
                                    {%csrf_token%}
                                    <button type="submit" class="btn btn-custon-rounded-four btn-primary"><i class="fa fa-phone square"></i></button>
                                </form>
                            </td>
                            <td>{{model.No_orden}}</td>
                            <td>{{model.prefijo}}{{model.servicio}}</td>
                            <td>{{model.accion_reparacion}}</td>
                            <td>{{model.nombre_cliente_entrega}}</td>
                            <td>{{model.direccion_cliente_entrega}}</td>
                            <td>{{model.estado}}</td>
                            <td>{{model.contacto_telefono}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" id="gestionados">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel pagenew-div">
            <div class="x_title">
                <h2>Gestión realizada por: {%if user.is_authenticated%} {{user.trabajador.name}} ({{user.trabajador.codigo_siprec}}) {%endif%}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="tablalist1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No Orden</th>
                            <th>Servicio</th>
                            <th>Acción</th>
                            <th>Cliente</th>
                            <th>Dirección</th>
                            <th>Estado</th>
                            <th>Contacto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for model in model2 %}
                        <tr>
                            <td>{{model.No_orden}}</td>
                            <td>{{model.prefijo}}{{model.servicio}}</td>
                            <td>{{model.accion_reparacion}}</td>
                            <td>{{model.nombre_cliente_entrega}}</td>
                            <td>{{model.direccion_cliente_entrega}}</td>
                            <td>{{model.estado}}</td>
                            <td>{{model.contacto_telefono}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <form action="{% url 'gestion_orden' %}" target="_blank" method="get">
                <button type="submit" class="btn  btn-warning"><span class="fa fa-file-pdf-o"></span> </button>
            </form>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
{%block jscontent%}
<!-- Datatables -->
<script src="{% static 'css/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
<script src="{% static 'css/vendors/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'css/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'css/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'js/csrftoken.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
<script>
createTable("#tablalist");
createTable("#tablalist1");
</script>
{%endblock%}