{% extends "base.html" %}
{% load static %}
{%block stylecontent%}
<link href="{% static 'css/vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
<!-- Select2 -->
<link href="{% static 'css/vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
<!-- Switchery -->
<link href="{% static 'css/vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
<!-- iCheck -->
<link href="{% static 'css/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
<!-- starrr -->
<link href="{% static 'css/vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="{% static 'css/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<!-- bootstrap-datetimepicker -->
<link href="{% static 'css/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/stylesnew.css' %}" />
{%endblock%}
{% block content %}
<form class="form-horizontal form-label-left" action="." name="informacion" method="post">
    {%csrf_token%}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel pagenew-div">
                <div class="x_title">
                    <h2>Datos Orden <small>de servicio</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    
                    <!-- Smart Wizard -->
                    <div class="form-group" style="margin:0px">
                        <div class="col-md-2">
                            {%if form.prefijo.errors%}
                            {%for error in form.prefijo.errors%}
                             <p style="color:red">{{error}}</p>
                             {%endfor%}
                             {%endif%}
                        </div>
                        <div class="col-md-4">
                            {%if form.servicio.errors%}
                            {%for error in form.servicio.errors%}
                             <p style="color:red"><strong>{{error}}</strong></p>
                             {%endfor%}
                             {%endif%}
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="form-group" style="margin:0px">
                        <div class="col-sm-2">
                            <div class="form-group" style="text-align:center">
                            <label>Prefijo <span class="required"></span>
                            </label>
                            {{form.prefijo}}
                        </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group" style="text-align:center">
                            <label>Servicio <span class="required"></span>
                            </label>
                            
                             {{form.servicio}}
                          </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" style="text-align:center">
                            <label>Modelo <span class="required"></span>
                            </label>
                            {{form.modelo}}
                        </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" style="text-align:center">
                            <label>Serie <span class="required"></span>
                            </label>
                            {{form.serie}}
                        </div>
                        </div>
                        <div class="col-sm-2" >
                            <div class="form-group" style="text-align:center">
                            <label>Garantía
                            </label>
                            <select class="select2_single form-control forms-input" name="garantia" id="id_garantia" required="required" value="{{object.garantia}}">
                                <option value="{{object.pk}}" selected>{{object.garantia}}</option>
                                <option>SI</option>
                                <option>NO</option>
                            </select>
                        </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin:0px">
                    <div class="col-sm-3">
                        <div class="form-group" style="text-align:center">
                            <label>Venc. Garantía <span class="required"></span>
                            </label>
                            <div class='input-group date' id='myDatepicker'>
                                {{form.fecha_vencimiento_garantia}}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" style="text-align:center">
                            <label>Folio <span class="required"></span>
                            </label>
                            {{form.folio_venta}}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" style="text-align:center">
                            <label>Fecha Venta <span class="required"></span>
                            </label>
                            <div class='input-group date' id='myDatepicker2'>
                                {{form.fecha_venta}}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" style="text-align:center">
                            <label >Defectos<span class="required"></span>
                            </label>
                            {{form.defecto}}
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin:0px">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            {{form.observaciones}}
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin:0px">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Nombre del cliente <span class="required"></span>
                            </label>
                            {{form.nombre_cliente_entrega}}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Dirección Particular <span class="required"></span>
                            </label>
                            {{form.direccion_cliente_entrega}}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>CI del cliente<span class="required"></span>
                            </label>
                            {{form.ci_cliente_entrega}}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Contacto Telefónico<span class="required"></span>
                            </label>
                            {{form.contacto_telefono}}
                        </div>
                    </div>
                </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    {{form.propietario}}
                                    <strong>Propietario</strong>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-11"></div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{%endblock%}
{%block jscontent%}
<script src="{% static 'js/csrftoken.js' %}"></script>
<script src="{% static 'css/vendors/validator/validator.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'css/vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'css/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- bootstrap-datetimepicker -->
<script src="{% static 'css/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'css/vendors/select2/dist/js/select2.full.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'css/vendors/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'css/vendors/moment/min/moment.min.js' %}"></script>
<script>
$("#myDatepicker").datetimepicker({
    format: 'DD/MM/YYYY hh:mm:ss'
});

$("#myDatepicker2").datetimepicker({
    format: 'DD/MM/YYYY hh:mm:ss'
});
</script>
{%endblock%}