{% extends "base.html" %}
{% load static %}
{% block stylecontent %}
<link rel="stylesheet" href="{% static 'css/stylesnew.css' %}">
<!-- Datatables -->
<link href="{% static 'css/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
<style type="text/css">
.Estilo1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold;
}

.Estilo5 {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.Estilo6 {
    font-size: 14px
}

.Estilo7 {
    font-family: "Times New Roman", Times, serif
}

.Estilo8 {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

.Estilo23 {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}

.Estilo20 {
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
}

.Estilo25 {
    font-style: italic;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.Estilo10 {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.Estilo17 {
    font-size: 14
}

.Estilo28 {
    font-size: 14px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.Estilo29 {
    font-size: 14;
    font-family: "Times New Roman", Times, serif;
}

.Estilo30 {
    font-size: 13px;
    font-family: "Times New Roman", Times, serif;
}

.Estilo13 {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 14px;
}
</style>
{% endblock %}
{% block content %}
<!-- page content -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel pagenew-div">
            <div class="x_title">
                <h2>Control de equipos en el taller. Tipo de equipo: TB</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table width="1200" height="10" border="0" align="left">
                    <tr>
                        <td width="50" bordercolor="#000000">
                            <div align="left"><span class="Estilo7">
                                    <p>&nbsp;</p>
                                </span> </ </div> </td> <td width="1040" bordercolor="#000000">
                                <div align="left" style="text-shadow: rgb(0,0,150) 3px 3px 5px;"><span class="Estilo10"><u>REG 04-PP-OR-002/14</u></span> </ </div> </td> <td width="140" bordercolor="#000000">
                                    <div align="rigth"><span class="Estilo1"><u><img src="{% static 'img/etecsa.svg' %}" width="161" height="59"></u></span></div>
                        </td>
                    </tr>
                </table>
                <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Servicio</th>
                            <th>Modelo</th>
                            <th>Defectos</th>
                            <th>Fecha entrada</th>
                            <th>Entrega</th>
                            <th>Orden de Trabajo</th>
                            <th>Acción de Reparación</th>
                            <th>Fecha Salida</th>
                            <th>Recibe</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for model in object_list%}
                        <tr>
                            <td>{{model.id}}</td>
                            <td>{{model.prefijo}}{{model.servicio}}</td>
                            <td>{{model.modelo.nombre}}</td>
                            <td>{%for defecto in model.defecto.all%}{{defecto.nombre}}, {%endfor%}</td>
                            <td>{{model.fecha_entrada_taller}}</td>
                            <td>{{model.ordena}}</td>
                            <td>{{model.No_orden}}</td>
                            <td>{%if model.accion_reparacion%}{{model.accion_reparacion}}{%endif%} </td>
                            <td>{%if model.fecha_cierre%}{{model.fecha_cierre}}{%endif%} </td>
                            <td>{%if model.cierra%}{{model.cierra}}{%endif%} </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
{%block jscontent%}
<!-- Datatables -->
<script src="{% static 'css/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
<script src="{% static 'css/vendors/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'css/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'css/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
{%endblock%}