{% extends "base.html" %}
{% load static%}
{% block stylecontent %}
<!-- Datatables -->
<link href="{% static 'css/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/stylesnew.css' %}">
{%endblock%}
{% block content %}
<!-- page content -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel pagenew-div">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Órdenes Pendientes<small>por edades</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Órdenes con (+90 días)</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Órdenes entre (60-90 días)</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Órdenes con (-60 días)</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <table id="tablalist" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>No Orden</th>
                                        <th>Servicio</th>
                                        <th>Fecha entrada taller</th>
                                        <th>Ordena</th>
                                        <th>Modelo</th>
                                        <th>Tecnología</th>
                                        <th>Serie</th>
                                        <th>Tiempo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for model in zOrden%}
                                    <tr>
                                        <td>{{model.No_orden}}</td>
                                        <td>{{model.prefijo}}{{model.servicio}}</td>
                                        <td>{{model.fecha_entrada_taller}}</td>
                                        <td>{{model.ordena}}</td>
                                        <td>{{model.modelo.nombre}}</td>
                                        <td>{{model.modelo.tecnologia.nombre}}</td>
                                        <td>{{model.serie}}</td>
                                        <td><span class="label label-danger">{{model.tiempo}} días</span></td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            <table id="tablalist1" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>No Orden</th>
                                        <th>Servicio</th>
                                        <th>Fecha entrada taller</th>
                                        <th>Ordena</th>
                                        <th>Modelo</th>
                                        <th>Tecnología</th>
                                        <th>Serie</th>
                                        <th>Tiempo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for model in yOrden%}
                                    <tr>
                                        <td>{{model.No_orden}}</td>
                                        <td>{{model.prefijo}}{{model.servicio}}</td>
                                        <td>{{model.fecha_entrada_taller}}</td>
                                        <td>{{model.ordena}}</td>
                                        <td>{{model.modelo.nombre}}</td>
                                        <td>{{model.modelo.tecnologia.nombre}}</td>
                                        <td>{{model.serie}}</td>
                                        <td><span class="label label-warning">{{model.tiempo}} días</span></td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <table id="tablalist2" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>No Orden</th>
                                        <th>Servicio</th>
                                        <th>Fecha entrada taller</th>
                                        <th>Ordena</th>
                                        <th>Modelo</th>
                                        <th>Tecnología</th>
                                        <th>Serie</th>
                                        <th>Tiempo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for model in xOrden%}
                                    <tr>
                                        <td>{{model.No_orden}}</td>
                                        <td>{{model.prefijo}}{{model.servicio}}</td>
                                        <td>{{model.fecha_entrada_taller}}</td>
                                        <td>{{model.ordena}}</td>
                                        <td>{{model.modelo.nombre}}</td>
                                        <td>{{model.modelo.tecnologia.nombre}}</td>
                                        <td>{{model.serie}}</td>
                                        <td><span class="label label-success">{{model.tiempo}} días</span></td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{%endblock%}
{%block jscontent%}
<!-- Datatables -->
<script src="{% static 'css/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'css/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
<script src="{% static 'css/vendors/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'css/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'css/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
<script>
createTable("#tablalist");
createTable("#tablalist1");
createTable("#tablalist2");
</script>
{%endblock%}